* {
  margin: 0;
  padding: 0;
}

body  {
  background-color: #6F1D1B;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

#juanSantiagoJpg {
  max-width: 400px;
  max-height: 400px;
  margin: 30px 0px 30px 0px;
  border-radius: 20px;
}

header {
  background-color: #bb9457;
  text-align: center;
  margin: 0px auto 10px auto;
  height: 30px;
}

li {
  display: inline;
}

div {
  text-align: center;
  color: #FFE6A7;
  max-width: 500px;
  margin: 200px auto;
}

#main {
  margin-top: 0;
}
#aboutBtn, #resumeBtn, #workBtn, #contactBtn {
  background-color: #4D4637;
  color: white;
  min-width: 40px;
  min-height: 30px;
}